div, p, ruby, rt {
	font-family: 'Microsoft Yahei', sans-serif;
	font-size: 36px;
}
p.lead {
	font-size: 36px;
	margin: 16px 0;
}

div.box {
	width: 920px;
	margin: 0 auto;
	overflow: auto;
}

div.box > div {
	width: 300px;
	margin: 20px 0;
	float: left;
}

body {
	width: 920px;
}

@media all {
	.page-break{ display: none; }
}

@media print {
	.page-break{ display: block; page-break-before: always; }
}
